html {
  margin: 0;
  padding: 0;
}

.destination-explore {
    background: var(--dark);
    padding: 1.5rem;
    border-radius: 1rem;
    color: var(--invert);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
  }

.destination-gallery {
    margin-top: 50px;
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
  }
  
.destination-gallery-item1 {
    background-image: url(gor1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 406px;
    min-width: 276px;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 16px 8px;
  }
  
.destination-gallery-item2 {
    background-image: url(gor2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 406px;
    min-width: 276px;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 16px 8px;
  }
  
.destination-gallery-item3 {
    background-image: url(gor5.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 406px;
    min-width: 276px;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 16px 8px;
  }
  
.destination-gallery-item4 {
    background-image: url(gor4.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 406px;
    min-width: 276px;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 16px 8px;
  }
  

.destination-gallery-box {
    backdrop-filter: blur(10px);
    background-image: radial-gradient(
      90.16% 143.01% at 15.32% 21.04%,
      rgba(165, 239, 255, 0.2) 0%,
      rgba(110, 191, 244, 0.0447917) 77.08%,
      rgba(70, 144, 213, 0) 100%
    );
    padding: 12px 8px;
    border-radius: 12px;
    border: 2px solid var(--invert);
    color: var(--invert);
    font-family: Montserrat;
  }

.btn-secondary {
    background-color: rgb(59, 143, 59);
    color: green;
    border: none;
    border-radius: 90px;
    padding: 8px;
    font-weight: bold;
    width: 95%;
    font-size: 1rem;
    font-family: Montserrat;
    text-align: center;
  }
